<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some Error Occured!</h1>
    <p>현재 오류 해결 중에 있습니다. 불편을 끼쳐드려 죄송합니다.</p>

<%- include('includes/end.ejs') %>